/* 异常用户分析 */
.abnormal-user {
  .title-message {
    font-size: 14px;
  }
  .title-count {
    color: #4f7dff;
    font-size: 18px;
  }
  .title-top {
    padding: 10px 17px 22px 18px;
    margin: 20px 0 10px 0;
  }
}
