$color: #999999;
.analyze-server{
    .server-title{
        margin-bottom: 20px;
        .title-message{
            font-size: 14px;
        }
        .title-message-detail{
            margin-bottom: 16px;
        }
        .title-count{
            color: #87c64d;
            font-size: 20px;
        }
    }
    .detail-table{
      margin-top: 60px;
    }
}
