.analyze-single{
  .title-spacing {
    .check-spacing{
      font-size: 14px;
      padding-left: 5px;
    }
    padding-top: 18px;
    &.message {
      font-size: 14px;
    }
    &.message-spacing {
      padding-left: 5px
    }
  }
  .single-table{
      margin-top: 40px;
      .out-table{
        th{
          background: rgb(220,229,255);
          border-bottom: none;
        }
        td{
          border-bottom: none;
        }
        tr:nth-child(2n){
          background: rgba(245,245,245,0.50)
        }
      }
      .use-table{
        @extend .out-table;
        th{
          background: rgb(255,219,219);
        }
      }
    }
}
