.password-container {
  padding: 10px 30px 0 30px;

  .control-group {
    padding: 20px 0;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    display: -webkit-display;

    > label {
      width: 110px;
      vertical-align: middle;
      color: #666;

      &.top {
        vertical-align: top;
      }
    }

    .group-content {
      flex: 1;
    }

    .margin-top-30 {
      margin-top: 30px;
    }

    .items {
      display: flex;
      display: -webkit-flex;

      > label {
        width: 22px;
        height: 22px;
        line-height: 22px;
        text-align: center;
        color: #fff;

        &.good {
          background: #ff4d4d;
        }

        &.better {
          background: #ffa24f;
        }

        &.best {
          background: #87c64d;
        }
      }

      .item {
        padding-left: 10px;
        margin-bottom: 20px;

        >  span {
          color: #999;
          margin-right: 5px;
        }

        .margin-right-20 {
          margin-right: 20px;
        }
      }

      .operate {
        margin-left: 20px;

        > a {
          margin-right: 20px;
        }
      }
    }
  }

  .submits {
    padding: 20px;
    text-align: center;
  }

  .error-span {
    color: #f20;
  }
}